<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,2},{137,172}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{137,172}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>15L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,2},{137,172}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{137,172}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>B10L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,141},{43,54}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B11L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,191},{45,46}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,46}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B12L.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,188},{45,48}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B13L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,178},{33,48}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{33,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B1L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,140},{35,48}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B2L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,178},{31,46}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{31,46}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B3L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,143},{33,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{33,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B4L.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,196},{35,48}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B5L.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,196},{35,48}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B6L.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,200},{35,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B7L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,58},{35,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B8L.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,188},{51,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>B9L.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,188},{37,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{37,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L10L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,2},{43,54}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L11L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,95},{45,46}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,46}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L12L.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,188},{45,48}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L13L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,143},{33,48}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{33,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L1L.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,200},{35,48}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L2L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,190},{31,46}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{31,46}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L3L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,141},{33,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{33,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L4L.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,200},{35,48}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L5L.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,200},{35,48}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L6L.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,200},{35,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L7L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{35,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L8L.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,188},{51,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>L9L.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,188},{37,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{37,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R10L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,95},{43,54}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R11L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,95},{45,46}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,46}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R12L.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,188},{45,48}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R13L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,102},{33,48}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{33,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R1L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{35,48}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R2L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,197},{31,46}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{31,46}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R3L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,52},{33,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{33,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R4L.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,188},{35,48}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R5L.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,188},{35,48}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R6L.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,188},{35,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R7L.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,188},{35,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R8L.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,188},{51,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>R9L.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,188},{37,48}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{37,48}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>back_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{143,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,196}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>face_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,196}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>fangkuai_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,137},{88,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{88,95}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>hei_10_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{139,184}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{139,184}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>hei_11_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{135,192}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{135,192}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>hei_9_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{141,184}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{141,184}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>heitao_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,141},{94,91}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{94,91}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>hong_10_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{139,184}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{139,184}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>hong_11_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{133,190}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{133,190}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>hong_9_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{141,184}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{141,184}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>hongtao_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,2},{98,91}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{98,91}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>laizi_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,137},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,141},{85,86}}</string>
                <key>offset</key>
                <string>{29,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{143,196}</string>
            </dict>
            <key>meihua_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,141},{92,89}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{92,89}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokers.png</string>
            <key>size</key>
            <string>{1722,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f5d116bea0824d009924f5b242b3538:1a223a83bc843f4a09af826582cb56c7:ed01aede103b954563da09a41b41d1b8$</string>
            <key>textureFileName</key>
            <string>pokers.png</string>
        </dict>
    </dict>
</plist>
